<?xml version="1.0" encoding="utf-8"?>
<module>
	<permissions>
		<permission action="dispAngeclubWorkDiaryManager" target="manager" />
		<permission action="dispAngeclubStaffManager" target="manager" />
    </permissions>
	<actions>
		<action name="dispAngeclubAdminIndex" type="view" admin_index="true" menu_name="angeclub" menu_index="true" />
		<action name="dispAngeclubAdminInsertMod" type="view" />
		<action name="dispAngeclubAdminModDetail" type="view" />
		<action name="dispAngeclubAdminGrantInfo" type="view" />
		<action name="dispAngeclubAdminConfig" type="view" />
		<action name="dispAngeclubAdminDelete" type="view" />
		<action name="dispAngeclubAdminMigrate" type="view" />  <!-- temporary migration tool -->
		
		<action name="dispAngeclubIndex" type="view" index="true" />
		<action name="dispAngeclubStatistics" type="view" />
		<action name="dispAngeclubMember" type="view" />
		<action name="dispAngeclubMemberPopupAdd" type="view" />
		<action name="dispAngeclubMemberPopupUpdate" type="view" />
		<action name="dispAngeclubWorkDiary" type="view" />
		<action name="dispAngeclubWorkDiaryManager" type="view" />  <!-- 총괄 관리자 전용 -->
		<action name="dispAngeclubWorkDiaryPopupAdd" type="view" />
		<action name="dispAngeclubWorkDiaryPopupUpdate" type="view" />
		<action name="dispAngeclubCenter" type="view" />
		<action name="dispAngeclubCenterPopupAdd" type="view" />
		<action name="dispAngeclubCenterPopupUpdate" type="view" />
		<action name="dispAngeclubStaffManager" type="view" />  <!-- 총괄 관리자 전용 -->

		<action name="getDuplicatedUserAjax" type="model" />
		<action name="getRandomEmailAjax" type="model" />
				
		<action name="procAngeclubAdminUpdate" type="controller" />
		<action name="procAngeclubAdminConfig" type="controller" />
		<action name="procAngeclubAdminMigrate" type="controller" />  <!-- temporary migration tool -->

		<action name="procAngeclubAddMom" type="controller" />
		<action name="procAngeclubAddWorkDiary" type="controller" />
		<action name="procAngeclubAddCenter" type="controller" />
		<action name="procAngeclubSendMail" type="controller" />
		<action name="procWorklogDeleteAjax" type="controller" />
	</actions>
	<menus>
	</menus>
</module>